
$primary: #76b387;
$success: #2793e8;


@import "~bootswatch/dist/cosmo/_variables.scss";
@import "~bootstrap/scss/bootstrap.scss";

.alert-info {
  background-color: #eeeeee;
  border-color: #aaaaaa;
}

.builder-component{
  background-color: #f8faf8;
}

// Required to use version 5. fortawesome

.fa-remove:before {
  content: "\f00d"
  }

.fa-times-circle-o:before {
    content: "\f057"
}

.fa-arrows:before {
  content: "\f0b2"
}
