.btn-group .btn-group-rounded:first-child {
  border-radius : .5em 0 0 .5em
}
.btn-group .btn-group-rounded:last-child {
  border-radius : 0 .5em .5em 0
}
.flex-container {
  display: flex;
}

.btn-outline-primary:hover  {
  box-shadow: inset 0 0 0 10em rgba(255, 255, 255, 0.65);
}

.btn-outline-primary:active {
  background-color: blue;
  color:white;
}
